span  { font-size: 24; font-style: bold; }
input { font-size: 24; font-style: bold; }


th {
    background-color: #2E3436 ;
    color: white ;
}

td, th {
	margin: 5px 20px ;
	padding: 5px 20px ;
}

td[class="nom"] {
    color: #49A0F4 ;
}


