<h2> Liste des types (sans filtre) </h2>

<ul>
    <li *ngFor="let item of items">
        <button (click)="appelComposant4(item)"> {{ item }}</button>
    </li>
</ul>

<ul>
    <li *ngFor="let item of items">
        <a (click)="appelComposant4(item)"> {{ item }}</a>
    </li>
</ul>
