<span> {{titre}} </span> <br/>
<nav>
    <a [routerLink]="['produits/marques']"> Recherche par marques</a> <br/>
    <a [routerLink]="['produits/types']"> Recherche par types </a>
    <br/><br/>
    <input (keyup)="setItem(choixItem.value)" value="Intel" #choixItem />
    <!-- Marque choisie : {{item}} -->
    <br/>
    <a [routerLink]="['/rechercheParMarque', item]"> Recherche par marque </a> <br/>
    <a [routerLink]="['/rechercheParType', item]"> Recherche par type </a> <br/>
</nav>
<br/>
<router-outlet></router-outlet>
