<h2> Les composants de marque {{ marque }} </h2>

<table>
    <caption>Les composants de marque {{ marque }}</caption>
    <tr>
        <th class="image_120"></th>
        <th class="composant">Composant</th>
        <th class="nom">Nom</th>
        <th class="prix">Prix</th>
        <th class="dispo">Dispo</th>
    </tr>
    <tr class="ligne_composant" *ngFor="let item of items">
        <a [routerLink]="['/detailProduit', item]">
            <td class="image_120"><img src="media/images/{{ item.image_120 }}"/></td>
            <td class="composant">{{ item.type }}</td>
            <td class="nom"> {{ item.nom }}</td>
            <td class="prix">{{ item.prix }} €</td>
            <!--<td class="dispo">{{ item.stock }}</td> -->
            <td class="dispo" if-ng=item.stock> En stock</td>
        </a>

    </tr>

</table>


